body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    minimum-height: 400px;
    background:url('../img/bigSpaceStencil.jpg') no-repeat;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 50px;
}

#showcase p{
    font-size: 20px;
    margin-bottom: 100px;
}

/* Newsletter */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    text-align: center;
}

#newsletter .highlight{
    color: #e8491d;
    font-weight: bold;
}

#newsletter h1{
    font-style: italic;
    font-size: 16px;
    margin-top: 15px;
}

/* Abstract */
#abstract{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    margin: auto;
}

#abstract p{
    font-size: 16px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 128px;
}

footer{
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #35424a;
    border-top: #e8491d 3px solid;
    text-align: center;
}
